@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100dvh;
    background-color: white;
}

header {
    width: 100%;
    height: 100%;
}

div#fundo {
    height: 100vh;
    width: 100%;

    background: transparent url('../imagens/cinema-p.jpg') right center no-repeat;
    background-attachment: cover;

}

div#preto {
    height: 100%;
    background-image: linear-gradient(to right, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

}

div#flexis {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

div#logo {
    width: 250px;
    height: 100px;
    margin-left: 15px;
    margin-top: 6px;
    background-image: url('../imagens/metplix-logo.png');
}

div#slogan {
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 370px;

    color: white;
    text-align: center;
    
}

div#slogan h1 {
    padding-bottom: 15px;
}

div#slogan p {
    padding-bottom: 15px;
}

div#slogan input {
    width: 60%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.493);
    border-radius: 5px;
}

div#slogan input::placeholder {
    color: white;
    text-align: center;
}

.botão a {
    text-decoration: none;
    padding: 11px 16px;
    color: white;
    font-weight: bold;
    background-color: #CE0909;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.61);
    border-radius: 8px;
    margin-right: 20px;

}

.botão > a:hover {
    background-color: #910808;
}

.botão:hover {
    transform: scale(1.1);
    transition: transform 0.4s;
}

.botão-flex {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;

}

div#login a {
    height: 35px;
    width: 30%;
    padding: 11px 16px;
    text-decoration: none;
    text-align: center;
    margin-left: 15px;
    color: white;
    font-weight: bold;
    background-color: #CE0909;
    border-radius: 8px;
}

main {
    min-height: 100vh;
    background-color: black;
    color: white;
}

section {
    text-align: justify;
}

.titulo {
    padding: 20px 0px 25px 20px;
    text-align: left;
}

div#plano-pobre {
    width: 350px;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px 10px 10px 25px;
    background-image: linear-gradient(135deg, #5f5b5b , #cec1c1 ,#ac9c9c,#5f5b5b );
    border: 4px solid #ac9c9c;
    border-radius: 10px;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.507);
}

div#plano-pobre > h4, ul > li{
    font-size: 1.35em;
    padding: 5px 0px;
}

div#plano-pobre h2 {
    font-size: 1.65em;
    padding: 5px 0px;
}

div#plano-pobre > div.botão {
    text-align: center;
    margin: 20px 0px
}

div#plano-pobre > div.botão a{
    background-color: #3f0303;
}

div#plano-pobre:hover {
    transform: scale(1.05);
    transition: transform .5s;
}

div#plano-rico {
    /*#ceb009* amarelo original*/
    width: 350px;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px 10px 10px 25px;
    /*background-image: linear-gradient(135deg, #b99f09, #dac550, #d3b408,#b99f09 );*/
    /*border: 4px solid #ebc90b;*/
    background-image: linear-gradient(135deg, #b90909, #da5050, #d30808,#b90909 );
    border: 4px solid #ec1313dc;
    border-radius: 10px;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.507);
}

div#plano-rico > h4, ul > li {
    font-size: 1.35em;
    padding: 5px 0px;
}

div#plano-rico h2 {
    font-size: 1.65em;
    padding: 5px 0px;
}

div#plano-rico > div.botão {
    text-align: center;
    margin: 20px 0px;
}

div#plano-rico > div.botão a{
    background-color: #3f0303;
}

div#plano-rico:hover {
    transform: scale(1.05);
    transition: transform .5s;
}

ul#imagens {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;

    height: 1200px;
}

ul#imagens > li {
    height: 350px;
    width: 300px;
    padding: 0px;
    list-style-type: none;
    border-radius: 12px;
    overflow: hidden;
}

ul#imagens > li:hover {
    transform: scale(1.05);
    transition: transform .5s;
}

ul#imagens > li > img{
    height: 100%;
    width: 100%;
}

ul#perguntas > li {
    display: block;
    margin: auto;
    padding-bottom: 15px;
    width: 80%;
}

ul#perguntas > li > h2 {
    font-size: 0.9em;
    padding: 10px;
    background-color: rgb(78, 78, 78);
    cursor: pointer;
}

ul#perguntas > li > h2:hover {
    background-color: rgb(100, 100, 100);
}

ul#perguntas > li > p{
    padding: 10px;
    margin-top: 5px;
    font-size: 0.8em;
    text-indent: 30px;
    background-color: rgb(65, 65, 65);
}

p#p1 {
    display: none;
}

p#p2 {
    display: none;
}

p#p3 {
    display: none;
}

footer {
    min-height: 150px;
    background-color: black;
    color: rgb(179, 179, 179);
    padding: 30px;
    text-align: justify;
}

footer > p {
    padding: 10px 5px;
}

footer > ul > li {
    list-style-type: none;
    padding: 5px;

}

footer > ul > li > a {
    font-size: 0.8em;
    color: rgb(179, 179, 179);
}