@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100dvh;
    background-color: white;
}

header {
    width: 100%;
    height: 100%;
}

div#fundo {
    height: 100vh;
    width: 100%;

    background: transparent url('../imagens/cinema-p.jpg') right center no-repeat;
    background-attachment: cover;

}

div#preto {
    height: 100%;
    background-image: linear-gradient(to right, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

}

div#flexis {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

div#logo {
    width: 250px;
    height: 100px;
    margin-left: 15px;
    margin-top: 6px;
    background-image: url('../imagens/metplix-logo.png');
}

div#slogan {
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 370px;

    color: white;
    text-align: center;
    
}

div#slogan h1 {
    padding-bottom: 15px;
}

div#slogan p {
    padding-bottom: 15px;
}

div#slogan input {
    width: 60%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.493);
    border-radius: 5px;
}

div#slogan input::placeholder {
    color: white;
    text-align: center;
}

.botão a {
    text-decoration: none;
    padding: 11px 16px;
    color: white;
    font-weight: bold;
    background-color: #CE0909;
    border-radius: 8px;
    margin-right: 20px;

}

.botão-flex {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;

}

div#login a {
    height: 35px;
    width: 30%;
    padding: 11px 16px;
    text-decoration: none;
    text-align: center;
    margin-left: 15px;
    color: white;
    font-weight: bold;
    background-color: #CE0909;
    border-radius: 8px;
}

main {
    height: 100vh;
    background-color: black;
    color: white;
    border-top: 3px solid #CE0909;
}

section {
    text-align: justify;
}

.titulo {
    padding: 20px 0px 25px 0px;
    text-align: center;
}

div#plano-pobre {
    width: 350px;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px 10px 10px 25px;
    background-image: linear-gradient(135deg, #5f5b5b , #cec1c1 ,#ac9c9c,#5f5b5b );
    border: 4px solid #ac9c9c;
    border-radius: 10px;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.507);
}

div#plano-pobre > h4, ul > li{
    font-size: 1.35em;
    padding: 5px 0px;
}

div#plano-pobre h2 {
    font-size: 1.65em;
    padding: 5px 0px;
}

div#plano-pobre:hover {
    transform: scale(1.1);
    transition: transform .5s;

}

div#plano-rico {
    /*#ceb009* amarelo original*/
    width: 350px;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px 10px 10px 25px;
    background-image: linear-gradient(135deg, #b99f09, #dac550, #d3b408,#b99f09 );
    border: 4px solid #ebc90b;
    border-radius: 10px;

    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.507);
}

div#plano-rico > h4, ul > li {
    font-size: 1.35em;
    padding: 5px 0px;
}

div#plano-rico h2 {
    font-size: 1.65em;
    padding: 5px 0px;
}

div#plano-rico:hover {
    transform: scale(1.1);
    transition: transform .5s;

}