@charset "UTF-8";

:root {
    --branco: #eefffc;
    --corPrincipal1: #ABFFFF;
    --corPrincipal2: #E86B73;
    --corEscura1: #6AD5EF;
    --corEscura2: #E44650;
    --fonteAzul: #004c94ab;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f7ffff;
}

header {
    display: flex;
    height: 80px;
    width: 100vw;
    background-color: #004c94ab;
    justify-content: space-around;
    align-items: center;
}

div#logo {
    margin-left: 35px;
    padding: 14px;
    background-color: #004c9493;
    border-radius: 30px;
}

div#logo a {
    text-decoration: none;
    color: #eefffc;
}

nav#menu ul {
    display: flex;
    gap: 75px;
    margin-right: 365px;
}

nav#menu ul li {
    list-style-type: none;
    font-size: 1.4em;
    color: #eafeff;
    cursor: pointer;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*height: calc(100vh - 180px);*/

}

div#tabela {
    display: flex;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    margin-top: 100px;
}

table {
    background-color: rgb(214, 213, 231);
    border-collapse: collapse;
}

th {
    background-color: #004c94ab;
}


th, td {
    height: 40px;
    width: 150px;
    border: 1px solid black;
    text-align: center;
}

tr:nth-child(2n) {
    background-color: rgb(171, 168, 196);
}

td.material-symbols-outlined {
    border-right: 2px solid black;
    width: 150px;
    height: 40px;
    padding-top: 7px;

}

div#box-titulo {
    text-align: center;
    width: 450px;
    border: 1px solid #002547c5;
    border-radius: 9px;
    padding: 4px;
    margin-top: 80px;
    color: #001224;
    background-image: linear-gradient(to right, rgba(225, 228, 255, 0.61), rgba(230, 227, 243, 0.527), rgba(225, 222, 252, 0.288));
}

div#cadastrar {
    display: none;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    font-size: 1.2em;
    border: 1px solid #002547c5;
    background-image: linear-gradient(to right, rgba(225, 228, 255, 0.61), rgba(230, 227, 243, 0.527), rgba(225, 222, 252, 0.288));
    border-radius: 9px;
    padding: 10px;
    width: 450px;
    max-height: 400px;
    /*height: calc(100vh - 180px);*/
    margin-top: 80px;
}

div#cadastrar > div {
    display: grid;
    grid-template-columns: 220px 1fr;
    align-items: center;
    margin-top: 20px;
}

div#cadastrar label {
    display: inline;
    text-align: right;
    margin-right: 10px;
    color: #001224;
    font-weight: 600;
}

div#cadastrar input {
    display: inline;
    width: 200px;
    padding: 4px 0px;
}

div#cadastrar input#botao-final {
    width: 200px;
    padding: 5px;
    font-size: 1.1em;
    border-radius: 4px;
    color: white;
    border: 1px solid var(--fonteAzul);
    background-color: var(--fonteAzul);
    cursor: pointer;
    transition: background-color .5s;
}

div#cadastrar input#botao-final:hover {
    background-color: white;
    color: var(--fonteAzul);
}
