@charset "UTF-8";

:root {
    --branco: #eefffc;
    --corPrincipal1: #ABFFFF;
    --corPrincipal2: #E86B73;
    --corEscura1: #6AD5EF;
    --corEscura2: #E44650;
    --fonteVermelho: #250000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: rgb(255, 242, 242);
}

header {
    display: flex;
    height: 80px;
    width: 100vw;
    background-color: #ca3636e7;
    justify-content: space-around;
    align-items: center;

}

div#logo {
    margin-left: 0px;
    padding: 14px;
    background-color: #410202;
    border-radius: 30px;
}

div#logo a {
    text-decoration: none;
    color: #eefffc;
}
nav#menu ul {
    display: flex;
    gap: 0px;
    margin-right: 410px;
}

nav#menu ul li {
    list-style-type: none;
    font-size: 1.4em;
    color: white;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#box-titulo {
    text-align: center;
    width: 450px;
    border: 1px solid #2500008e;
    border-radius: 9px;
    padding: 4px;
    margin-top: 80px;
    color: #290101;
    background-image: linear-gradient(to right, rgba(255, 225, 225, 0.61), rgba(243, 227, 227, 0.527), rgba(252, 222, 222, 0.288));
}

div#tabela {
    display: none;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    margin-top: 100px;
}

table {
    background-color: rgb(236, 217, 217);
    border-collapse: collapse;
}

th {
    background-color: #ca3636e7;
}


th, td {
    height: 40px;
    width: 150px;
    border: 1px solid black;
    color: black;
    text-align: center;
}

tr:nth-child(2n) {
    background-color: rgb(182, 158, 158);
}

td.material-symbols-outlined {
    border-right: 2px solid black;
    width: 150px;
    height: 40px;
    padding-top: 7px;
}

div#cadastrar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to right, rgba(255, 225, 225, 0.61), rgba(243, 227, 227, 0.527), rgba(252, 222, 222, 0.288));
    font-size: 1.2em;
    border: 1px solid #2500008e;
    border-radius: 9px;
    padding: 10px;
    width: 450px;
    max-height: 400px;
    margin-top: 80px;
}

div#cadastrar > div {
    display: grid;
    grid-template-columns: 220px 1fr;
    align-items: center;
    margin-top: 20px;
}

div#cadastrar label {
    display: inline;
    text-align: right;
    margin-right: 10px;
    color: #290101;
    font-weight: 600;
}

div#cadastrar input {
    display: inline;
    width: 200px;
    padding: 4px 0px;
}

input#botao-final {
    width: 200px;
    padding: 5px;
    font-size: 1.1em;
    border-radius: 4px;
    color: white;
    border: 1px solid #2500008e;
    background-color: #410202;
    cursor: pointer;
    transition: background-color .5s;
}


input#botao-final:hover {
    background-color: white;
    color: #410202;
}