@charset "UTF-8";

:root {
    --branco: #eefffc;
    --corPrincipal1: #ABFFFF;
    --corPrincipal2: #E86B73;
    --corEscura1: #6AD5EF;
    --corEscura2: #E44650;
    --botaoAzul: #6AD5EF;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

main#main {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 70px repeat(2, 1fr) 70px;
    grid-template-rows: 70px repeat(4, 1fr) 70px;
    background-image: url(../imagens/fundoazul.png);
    background-size: cover;
}

div#container {
    grid-row: 2 / 6;
    grid-column: 3 / 4 ;
    /*display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;*/
    height: 100%;
    background: var(--branco);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

div#imagem {
    grid-row: 2 / 6;
    grid-column: 2 / 3;
    height: 100%;
    background-image: url(../imagens/funcionario.png);
    background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}





div#opc {
    margin-top: 100px;
    text-align: center;
}

div#opc input{
    width: 150px;
    font-size: 1.3em;
    padding: 5px 8px;
    margin: 0px 20px;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color, color .5s;
}

input#funcionario {
    border: 1px solid var(--corEscura1);
    background-color: var(--branco);
    color: #6AD5EF;
}

input#hospital {
    border: 1px solid var(--corEscura2);
    background-color: var(--corEscura2);
    color: var(--branco);
}

div#login {
    margin-top: 150px;
    text-align: center;
}

div#login input{
    display: inline;
}

div#senha {
    margin-top: 20px;
    text-align: center;
}

div#senha input{
    display: inline;
}

div#senha a {
    margin: auto;
    margin-top: 20px;
    width: 100px;
}

a#entrar {
    display: block;
    text-decoration: none;
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid var(--botaoAzul);
    color: black;
    background-color: var(--corEscura1);
    transition: background-color .5s;
}

a#entrar:hover {
    background-color: var(--branco);
}

a#cadastrar {
    display: none;
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid var(--corEscura2);
    border-radius: 5px;
    color: black;
    background-color: var(--branco);
    transition: background-color .5s;
}

a#cadastrar:hover {
    background-color: var(--corEscura2);
}